body {
    background-color: #c7f5ab;
    padding: 10px;
    border: 1px solid #d2ad5d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background: rgb(93, 120, 237);
}

#searchBox {
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
}

#input {
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
}

#searchBtn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background: crimson;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.content-container {
    width: 90%;
    color: #8ca9f1;
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
    max-width: 700px;
    margin-top: 20px;
    font-family: sans-serif;
}

/* Explicitly set the background color for the mark element */
mark {
    background: crimson !important;
    color: white !important;
}

iframe {
    background: rgb(124, 162, 234) !important;
    color: rgb(0, 0, 0) !important;
}

resultFrame {
    background: rgb(124, 162, 234) !important;
    color: rgb(0, 0, 0) !important;
}

#header {
    background-color: #3b56db;
    padding: 10px;
    border: 1px solid #d2ad5d;
    position: fixed;
    margin-top: 10px;
    top: 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: 125px;
    font-size: 20px;
}