<!-- delete_row.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
<style>
    body{
        background-color: lightblue;
    }

.beware{
    color: red;
    background-color: yellow;
    font-size: 26px;
}
</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Row</title>
</head>
<body>
<h1 class="beware">Delete Row  USE WITH CAUTION</h1>
    <form action="{{ url_for('delete_row', rowid=rowid) }}" method="POST">
        <input type="number" name="rowid" placeholder="Enter Row ID" value="{{ rowid }}">
        <input type="submit" value="Delete">
    </form>
</body>
</html>
